VITE_FIREBASE_API_KEY="AIzaSyB_Wwk1k5RQrYduM4WjjS-tG6mjCVn6Ddc"
VITE_FIREBASE_AUTH_DOMAIN="laundry-checklist.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="laundry-checklist"
VITE_FIREBASE_STORAGE_BUCKET="laundry-checklist.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="884693223366"
VITE_FIREBASE_APP_ID="1:884693223366:web:48086d693fa2c20e6614c7"
